Repository team-yuml-kkks/Elimar, pull requests merged in 2023-02, with the labels that each got.

#11 Add github action
  .github/workflows/run-checks.yml
Labels: ci, linters

#12 Setup mypy
  .github/workflows/run-checks.yml
  elimar/settings.py
  mypy.ini
  requirements/local.txt
Labels: ci, linters

#13 Setup ruff
  .github/workflows/run-checks.yml
  elimar/settings.py
  pyproject.toml
  requirements/local.txt
Labels: ci, linters

#14 Add empty ADR
  .github/workflows/run-checks.yml
  docs/adl/empty_adr.md
Labels: documentation

#16 Setup users app with custom `User` model
  docs/adl/2023-02-05_custom_user_model.md
  elimar/modules/__init__.py
  elimar/modules/users/__init__.py
  elimar/modules/users/admin.py
  elimar/modules/users/apps.py
  elimar/modules/users/migrations/0001_initial.py
  elimar/modules/users/migrations/__init__.py
  elimar/modules/users/models.py
  elimar/modules/users/tests.py
  elimar/modules/users/views.py
  elimar/settings.py
Labels: users

#20 Add login form & home page template
  elimar/modules/users/templates/registration/login.html
  elimar/settings.py
  elimar/templates/base.html
  elimar/templates/home.html
  elimar/urls.py
Labels: users

#30 Setup frontend assets builder
  .gitignore
  docker/development/docker-compose.yml
  docs/adl/frontend/2023-02-19_frontend_builder_choice.md
  docs/adl/frontend/2023-02-19_split_frontend.md
  elimar/modules/users/migrations/0003_alter_user_managers.py
  elimar/settings.py
  elimar/static/.gitkeep
  elimar/templates/base.html
  frontend/app.js
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.js
  frontend/yarn.lock
  requirements/base.txt
  scripts/run-dev.sh
Labels: frontend

#31 Feature/setup c4 builder
  .gitignore
  docker/development/docker-compose.yml
  docker/docs/docker-compose.yml
  docker/images/C4Builder/Dockerfile
  docs/.c4builder
  docs/adl/.empty_adr.md
  docs/adl/2023-02-05_custom_user_model.md
  docs/structure/Elimar/system.puml
Labels: enhancement

#35 Add users list view with template
  elimar/modules/users/fixtures/users_accounts.json
  elimar/modules/users/urls.py
  elimar/modules/users/views.py
  elimar/templates/home.html
  elimar/templates/users/users_list.html
  scripts/run-dev.sh
Labels: enhancement, users

#36 Add edit user view
  elimar/modules/users/urls.py
  elimar/modules/users/views.py
  elimar/templates/users/user_details_edit.html
  elimar/templates/users/users_list.html
Labels: enhancement, users

#37 Add create user from users list
  elimar/modules/users/forms.py
  elimar/modules/users/urls.py
  elimar/modules/users/views.py
  elimar/templates/users/user_create.html
  elimar/templates/users/users_list.html
Labels: enhancement, users

#40 Add login permission mixins
  elimar/modules/users/views.py
  elimar/templates/home.html
Labels: enhancement, users

#41 Setup alpinejs
  frontend/app.js
  frontend/package.json
Labels: enhancement, frontend
